.Input {
  margin-bottom: 16px;

  &__label {
    display: block;
    margin-bottom: 4px;
    color: var(--color-light-gray);
    font-size: 14px;
  }

  &__input {
    width: 100%;
    padding: 4px;
    font-size: 18px;
  }
}
