.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;

  &__close-icon {
    cursor: pointer;
    position: absolute;
    top: 5vh;
    right: 20%;
    font-size: 32px;
    color: var(--color-white);
  }

  &__content {
    position: relative;
    background: var(--color-white);
    margin: 10vh auto;
    width: 60%;
    border-radius: 4px;
    min-height: 50vh;
    max-height: 80vh;
    overflow-y: auto;
  }
}
