.Checkout {
  padding: 40px;

  &__heading {
    margin-bottom: 16px;
  }

  &__button-tile {
    width: 100%;
    background: var(--color--white);
    box-shadow: rgba(204, 204, 204, 0.75) 1px 1px 5px;
    padding: 16px;
    color: rgb(102, 102, 102);
    border-radius: 2px;
  }

  &__cart {
    background: var(--color-white);
    border-radius: 4px;
    overflow: hidden;
    font-size: 13px;
    position: relative;
    padding-top: 12px;

    &-bill {
      &-section {
        margin-bottom: 8px;
        color: var(--color-light-gray);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-bottom {
      padding: 16px;
      box-shadow: 0px -2px 5px 3px #efefef;
    }

    &-coupon {
      margin-bottom: 8px;

      &-message {
        font-style: italic;
        color: var(--color-light-gray);
      }
    }

    &-divider {
      margin-bottom: 8px;
      border: 1px solid #efefef;
    }

    &-footer {
      padding: 8px;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--color-primary);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 2px solid var(--color-primary);
    }

    &-header {
      position: absolute;
      height: 28px;
      background: var(--color-white);
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      font-weight: 500;
      color: var(--color-light-gray);
    }

    &-heading {
      &--small {
        margin-bottom: 8px;
      }
    }

    &-top {
      max-height: 400px;
      overflow: auto;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: auto 480px;
    grid-gap: 32px;
    height: 100%;
  }

  &__cta {
    padding: 16px;
    width: 100%;
  }

  &__details-card {
    padding: 16px 28px;
    border-radius: 4px;
    margin-bottom: 16px;
    background: var(--color-white);

    &-heading {
      color: rgb(40, 44, 63);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;

      &--disabled {
        color: rgb(147, 149, 159);
      }
    }

    &-body {
      &-customer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-name {
          font-size: 20px;
          margin-bottom: 8px;
          font-weight: 500;
        }

        &-email,
        &-phone {
          color: rgb(147, 128, 140);
          font-weight: 500;
        }
      }

      &-text {
        margin-bottom: 24px;
        color: rgb(126, 128, 140);
      }

      &-btn {
        padding: 8px 32px;
        background: var(--color-white);
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
}
