@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #111;
  --color-primary: #11192c;
  --color-body-bg: #e9ecee;
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.App {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  background: var(--color-body-bg);
}

.SiteLoader {
  text-align: center;
}
